.container_title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #009C8C;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
}