.card-header {
	display: flex;
}

.card-body {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.avatar-paciente {
	margin: 1rem;
}

.list-bullets {
	height: 20px;
}

.nombre-paciente {
	font-weight: bold;
}

.fecha-registro {
	color: gray;
}