.card-container {
	width: 18rem;
}

.image-container {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	margin-top: -35%;
	position: relative;
	z-index: 1;
	border: 1px solid lightgrey;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}